<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
  <div class="logo">
    <a target="_blank" rel="noopener noreferrer" href="https://appseed.us/admin-dashboards/django-dashboard-material"
      class="simple-text logo-normal">
      IOT
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      {% if request.user.is_authenticated %}

      <li class="nav-item {% if 'index' in segment %} active {% endif %}">
        <a class="nav-link" href="/">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item {% if 'relay' in segment %} active {% endif %}">
        <a class="nav-link" href="/relays">
          <i class="material-symbols-outlined">switch</i>
          <p>Công Tắc </p>
        </a>
      </li>
      <li class="nav-item {% if 'sensor' in segment %} active {% endif %}">
        <a class="nav-link" href="/sensors">
          <i class="material-symbols-outlined">sensors</i>
          <p>Cảm biến</p>
        </a>
      </li>
      <li class="nav-item {% if 'chart' in segment %} active {% endif %}">
        <a class="nav-link" href="/chart">
          <i class="material-symbols-outlined">monitoring</i>
          <p>Biểu đồ</p>
        </a>
      </li>
      <li class="nav-item {% if 'timer' in segment %} active {% endif %}">
        <a class="nav-link" href="/timer">
          <i class="material-symbols-outlined">pending_actions</i>
          <p>Hẹn giờ</p>
        </a>
      </li>
      <li class="nav-item {% if 'infor' in segment %} active {% endif %}">
        <a class="nav-link" href="/infor">
          <i class="material-icons">person</i>
          <p>Thông Tin</p>
        </a>
      </li>
      {% if request.user.is_staff %}
      <li class="nav-item {% if 'user' in segment %} active {% endif %}">
        <a class="nav-link" href="/users">
          <i class="material-symbols-outlined">contacts</i>
          <p>Quản lý người dùng</p>
        </a>
      </li>

      <li class="nav-item {% if 'devices' in segment %} active {% endif %}">
        <a class="nav-link" href="/devices">
          <i class="material-symbols-outlined">gamepad</i>
          <p>Quản lý thiết bị</p>
        </a>
      </li>
      {% endif %}
      <!-- <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
        <a class="nav-link" href="/page-user.html">
          <i class="material-icons">person</i>
          <p>User Profile</p>
        </a>
      </li>
      <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
        <a class="nav-link" href="/ui-tables.html">
          <i class="material-icons">content_paste</i>
          <p>Table List</p>
        </a>
      </li> -->
      <!-- <li class="nav-item {% if 'ui-typography' in segment %} active {% endif %}">
        <a class="nav-link" href="/ui-typography.html">
          <i class="material-icons">library_books</i>
          <p>Typography</p>
        </a>
      </li>
      <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">
        <a class="nav-link" href="/ui-icons.html">
          <i class="material-icons">bubble_chart</i>
          <p>Icons</p>
        </a>
      </li>
      <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">
        <a class="nav-link" href="/ui-maps.html">
          <i class="material-icons">location_ons</i>
          <p>Maps</p>
        </a>
      </li>
      <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">
        <a class="nav-link" href="/ui-notifications.html">
          <i class="material-icons">notifications</i>
          <p>Notifications</p>
        </a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/page-rtl-support.html">
          <i class="material-icons">language</i>
          <p>RTL Support</p>
        </a>
      </li> -->

      <li class="nav-item ">
        <a class="nav-link" href="{% url 'logout' %}">
          <i class="material-icons">directions_run</i>
          <p>Đăng xuất</p>
        </a>
      </li>



      {% else %}

      {% endif %}
    </ul>
  </div>

</div>