{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Thông Tin Kết Nối</h4>
      </div>
      <div class="card-body">
        {% if api_status %}
          <p>Trạng Thái: {% if api_status.is_online %}Online{% else %}Offline{% endif %}</p>
          <p>Client ID: {{ api_status.client_id }}</p>
          <p>Protocol Version: {{ api_status.proto_ver }}</p>
        {% else %}
          <p>Chưa có dữ liệu về trạng thái API.</p>
        {% endif %}
      </div>
    </div>
  </div>
  
  <div class="col-md-7">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Lịch Sử Kết Nối API</h4>
        <p class="card-category">Các sự kiện kết nối gần đây</p>
      </div>
      <div class="card-body">
        {% if api_log_list %}
          <table class="table table-hover">
            <thead>
              <tr>
                <th>STT</th>
                <th>Trạng thái</th>
                <th>Thời gian</th>
                <th>Chi thiết</th>
              </tr>
            </thead>
            <tbody>
              {% for log in api_log_list %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ log.get_event_display }}</td>
                  <td>{{ log.timestamp|date:"H:i d-m-Y" }}</td>
                  <td>{{ log.reason }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>Chưa có dữ liệu lịch sử kết nối.</p>
        {% endif %}
      </div>
    </div>
  </div>
  
</div>

{% endblock content %}