{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

{% block stylesheets %}
<style>
  .main-panel > .content {
    margin-top: 40px;
    padding: 30px 15px;
    min-height: calc(100vh - 123px);
    background-color: #f5f5f5;
  }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="row" id="sensors">
  {% for sensor in sensors %}
    <div class="col-lg-3 col-md-6 col-sm-6" id="sensor-{{ sensor.id }}">
      <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon">
            <i class="material-icons">sensors</i>
          </div>
          <h2 class="card-category">{{ sensor.name }}</h2>
          <h3 class="card-title">
            <span class="sensor-value">{{ sensor.value }}</span>
            <small>{{ sensor.unit }}</small>
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons text-danger">date_range</i>
            <span class="last-update">Cập nhật: {{ sensor.last_off|date:"H:i d/m/Y" }}</span>
          </div>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:4 %}
      </div><div class="row">
    {% endif %}
  {% endfor %}
</div>
{% endblock content %}

{% block javascripts %}
<script>
  const ws = new WebSocket('ws://' + window.location.host + '/ws/notifications/');
  ws.onmessage = (event) => {
      const data = JSON.parse(event.data);
      updateSensor(data.id, data.new_value, data.last_off);

  };
  function updateSensor(sensorId, newValue, lastUpdate) {
      const sensorElement = document.querySelector(`#sensor-${sensorId}`);
      if (sensorElement) {
          sensorElement.querySelector('.sensor-value').textContent = newValue;
          sensorElement.querySelector('.last-update').textContent = `Cập nhật: ${lastUpdate}`;
      }
  }
  ws.onopen = () => {
      console.log('WebSocket connection established');
  };

  ws.onerror = (error) => {
       console.error('WebSocket error:', error);
  };

  ws.onclose = () => {
       console.log('WebSocket connection closed');
  };


</script>
{% endblock javascripts %}
